@page
@model CatCentral.Pages.Toys.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Toy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toy.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toy.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toy.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toy.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toy.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toy.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toy.SpecialDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toy.SpecialDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Toy.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
