@page
@model CatCentral.Pages.Gallery.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gallerys</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.ImplantID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.ImplantID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallerys.SpecialDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallerys.SpecialDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Gallerys.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
