@page
@model CatCentral.Pages.Foods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food and Treats</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.SpecialDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.SpecialDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Food.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<style>
    body {
        background-image: url('/Images/catfood.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        font-family: 'Comic Sans MS', cursive;
    }
</style>