@page
@model CatCentral.Pages.Grooming.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="get">
    <div class="row mb-3">
        <div class="col-md-4">
            <select asp-for="SearchField" class="form-control">
                <option value="">-- Select Search Field --</option>
                <option value="Name">Name</option>
                <option value="Owner">Owner</option>
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" asp-for="SearchString" class="form-control" placeholder="Enter search term..." />
        </div>
        <div class="col-md-4">
            <input type="date" asp-for="SearchDate" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-page="./Index" class="btn btn-secondary">Clear</a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].GallerysID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].FoodID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].Supplies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].ToyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groom[0].Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gallerys.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
